:root {
	--font-primary-family: 'Roboto', sans-serif;
	--font-secondary-family: 'Raleway', sans-serif;
	--font-primary-cl: #2e2f42;
	--font-secondary-cl: #434455;
	--font-accent-cl: #4d5ae5;
	--bg-main-cl: #fff;
}

body {
	font-family: var(--font-primary-family);
	background-color: var(--bg-main-cl);
	color: var(--font-primary-cl);
}

ol,
ul {
	list-style-type: none;
}

a {
	color: currentColor;
	text-decoration: none;
	cursor: pointer;
}

.logo {
	font-family: var(--font-secondary-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.logo-accent-color {
	color: var(--font-accent-cl);
}

.header-nav-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.address-link {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	font-style: normal;
	color: var(--font-secondary-cl);
}
