:root {
	--gris: #f4f4fd;
	--white: #ffffff;

	--font-primary-family: 'Roboto', sans-serif;
	--font-secondary-family: 'Raleway', sans-serif;
	--font-primary-cl: #434455;
	--font-secondary-cl: #2e2f42;
	--font-accent-cl: #4d5ae5;
	--font-hero-cl: #fff;
	--bg-main-cl: #fff;

	--hero-bg-cl: #2e2f42;

	--button-bg-cl: #4d5ae5;
	--focus-cl: #404bbf;
	--button-text-cl: #fff;

	--footer-bg-cl: #2e2f42;
	--footer-text-cl: #f4f4fd;

	--logo-accent-cl: #4d5ae5;

	--team-bg-color: var(--gris);
}
body {
	font-family: var(--font-primary-family);
	background-color: var(--bg-main-cl);
	color: var(--font-primary-cl);
}

ol,
ul {
	list-style-type: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

.button {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	background-color: var(--button-bg-cl);
	color: var(--button-text-cl);
	cursor: pointer;
}

/* Header  */

.header {
}
.header-nav {
}
.logo {
	font-family: var(--font-secondary-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--logo-accent-cl);
}
.header-logo-decoration {
	color: var(--font-secondary-cl);
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--font-secondary-cl);
}
.header-nav-link:hover,
.header-nav-link:focus {
	color: var(--focus-cl);
}

.header-address {
	font-style: normal;
}
.header-address-list {
}
.header-address-item {
}
.header-address-link {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
	color: var(--focus-cl);
}

/* Hero */

.hero-section {
	background-color: var(--hero-bg-cl);
}

.hero-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--font-hero-cl);
}

.hero-btn:hover,
.hero-btn:focus {
	background-color: var(--focus-cl);
}

/* Features */
.features-section {
}
.features-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11111;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--font-secondary-cl);
}
.features-list {
}
.features-item {
}
.features-subtitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--font-secondary-cl);
}
.features-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* Team  */

.team-section {
	background-color: var(--team-bg-color);
}
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: capitalize;
	color: var(--font-secondary-cl);
}
.team-list {
}
.team-item {
	background-color: var(--white);
}
.team-img {
}
.team-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--font-secondary-cl);
}
.team-work {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* Portfolio  */
.portfolio-section {
}
.portfolio-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: capitalize;
	color: var(--font-secondary-cl);
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-img {
}
.portfolio-subtitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--font-secondary-cl);
}
.portfolio-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
/* Footer */
.footer-section {
	background-color: var(--footer-bg-cl);
}
.footer-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--footer-text-cl);
}
.footer-logo-decoration {
	color: var(--footer-text-cl);
}
